<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h4>Login page</h4>
<form action="log" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <lable>User name</lable>
            </td>
            <td>
                <input type="text" placeholder="User Name" name="user_name">
            </td>
        </tr><tr>
            <td>
                <lable>Password</lable>
            </td>
            <td>
                <input type="password" placeholder="password" name="pass">
            </td>
        </tr>

    </table>
    <br>
    <input type="Submit">
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</form>
</body>
</html>