<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h3>Registration</h3>
<form action="reg" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <lable>User name</lable>
            </td>
            <td>
                <input type="text" placeholder="User Name" name="uname">
            </td>
        </tr><tr>
            <td>
                <lable>First name</lable>
            </td>
            <td>
                <input type="text" placeholder="First Name" name="fname">
            </td>
        </tr>
        <tr>
            <td>
                <lable>Last name</lable>
            </td>
            <td>
                <input type="text" placeholder="Last Name" name="lname">
            </td>
        </tr>
        <tr>
            <td>
                <lable>Email</lable>
            </td>
            <td>
                <input type="email" placeholder="Email Address" name="email">
            </td>
        </tr>
        <tr>
            <td>
                <lable>Password</lable>
            </td>
            <td>
                <input type="password" placeholder="password" name="psw">
            </td>
        </tr>
        <tr>
            <td>
                <lable>Confirm password</lable>
            </td>
            <td>
                <input type="password" placeholder="Confirm password" name="cpsw">
            </td>
        </tr>
    </table>
    <br>
    <input type="Submit">
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</form>
</body>
</html>